body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d8ffcd;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 5px 0;
    padding: 10px;
}

p {
    color: green;
    font-weight: bold;
}